.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(179, 179, 179);
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
}

.library-song{
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  img {
    width: 30%;
  }
  &:hover{
    background:rgb(245, 219, 219);
    transition: all 2;
  }
}

.song-description {
  padding-left: 1rem;
  p {
    font-size:1rem;
    color: rgb(100,100,100)
  }
  p:last-child {
    padding-top: 0.5rem;
    font-size: 0.7rem;
  }
}

.selected {
  background: rgb(230, 164, 164)
}